/*******************
 backend/jobs.config
 *******************

 'backend/jobs.config' is a Velo configuration file that lets you schedule code to run repeatedly at specified intervals. 

 Using scheduled jobs you can run backend code without any user interaction. For example, you could generate a weekly 
 report or run nightly data cleansing.

 You schedule code to run by creating a job.
 Each job defines which function to run and when to run it.

 ---
 More about Scheduled Jobs: 
 https://support.wix.com/en/article/velo-scheduling-recurring-jobs

*******************/

// The following code is an example of a job. Adapt the code for your specific use case.
{
    "jobs": [
    {
        "functionLocation": "/CustomizationAutomationFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "importEmblemPaletteImagesFull",
        "description": "Emblem Palette Image Ingestion", // Optional
        "executionConfig": {
            "cronExpression": "50 * * * *"
        }
    },
    {
        "functionLocation": "/CustomizationAutomationFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "armorImportFull",
        "description": "Customization Ingestion", // Optional
        "executionConfig": {
            "cronExpression": "47 * * * *"
        }
    },
    {
        "functionLocation": "/CustomizationAutomationFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "weaponImportFull",
        "description": "Customization Ingestion", // Optional
        "executionConfig": {
            "cronExpression": "12 * * * *"
        }
    },
    {
        "functionLocation": "/CustomizationAutomationFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "vehicleImportFull",
        "description": "Customization Ingestion", // Optional
        "executionConfig": {
            "cronExpression": "18 * * * *"
        }
    },
    {
        "functionLocation": "/CustomizationAutomationFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "bodyAiImport",
        "description": "Customization Ingestion", // Optional
        "executionConfig": {
            "cronExpression": "24 * * * *"
        }
    },
    {
        "functionLocation": "/CustomizationAutomationFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "spartanIdImport",
        "description": "Customization Ingestion", // Optional
        "executionConfig": {
            "cronExpression": "26 * * * *"
        }
    },
    {
        "functionLocation": "/MediaManagerFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "generateFolderDict",
        "description": "Folder Dict Generation", // Optional
        "executionConfig": {
            "cronExpression": "50 * * * *" // Set a recurrence of no less than 1 hour
            // Read about Cron expressions: [https://en.wikipedia.org/wiki/Cron#CRON_expression]
        }
    },
    {
        "functionLocation": "/MediaManagerFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "generateArmorFolderDict",
        "description": "Armor Folder Dict Generation", // Optional
        "executionConfig": {
            "cronExpression": "42 * * * *" // Set a recurrence of no less than 1 hour
            // Read about Cron expressions: [https://en.wikipedia.org/wiki/Cron#CRON_expression]
        }
    },
    {
        "functionLocation": "/MediaManagerFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "generateWeaponFolderDict",
        "description": "Weapon Folder Dict Generation", // Optional
        "executionConfig": {
            "cronExpression": "53 * * * *" // Set a recurrence of no less than 1 hour
            // Read about Cron expressions: [https://en.wikipedia.org/wiki/Cron#CRON_expression]
        }
    },
    {
        "functionLocation": "/MediaManagerFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "generateVehicleFolderDict",
        "description": "Vehicle Folder Dict Generation", // Optional
        "executionConfig": {
            "cronExpression": "54 * * * *" // Set a recurrence of no less than 1 hour
            // Read about Cron expressions: [https://en.wikipedia.org/wiki/Cron#CRON_expression]
        }
    },
    {
        "functionLocation": "/MediaManagerFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "generateShopFolderDict",
        "description": "Shop Folder Dict Generation", // Optional
        "executionConfig": {
            "cronExpression": "55 * * * *" // Set a recurrence of no less than 1 hour
            // Read about Cron expressions: [https://en.wikipedia.org/wiki/Cron#CRON_expression]
        }
    },
    {
        "functionLocation": "/MediaManagerFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "generateEmblemPaletteFolderDict",
        "description": "Emblem Palette Folder Dict Generation", // Optional
        "executionConfig": {
            "cronExpression": "46 * * * *" // Set a recurrence of no less than 1 hour
            // Read about Cron expressions: [https://en.wikipedia.org/wiki/Cron#CRON_expression]
        }
    },
    /*{
        "functionLocation": "/ShopAutomationFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "refreshShopListings",
        "description": "Shop Automation", // Optional
        "executionConfig": {
            "cronExpression": "0 * * * *"
        }
    },
    {
        "functionLocation": "/ExchangeAutomationFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "refreshExchangeListings",
        "description": "Exchange Automation", // Optional
        "executionConfig": {
            "cronExpression": "30 * * * *"
        }
    },
    {
        "functionLocation": "/WaypointBackendFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "updateCapstoneChallenge",
        "description": "Capstone Challenge Automation; MUST EXECUTE AFTER PASS UPDATE ON SEASON START", // Optional
        "executionConfig": {
            "cronExpression": "15 18 * * 2" // DST
        }
    },
    {
        "functionLocation": "/WaypointBackendFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "importPasses",
        "description": "Pass Update Automation; MUST EXECUTE BEFORE CAPSTONE CHALLENGE REFRESH ON SEASON START", // Optional
        "executionConfig": {
            "cronExpression": "10 * * * *" // DST
        }
    },*/
    {
        "functionLocation": "/TwitchApiFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "refreshAllTwitchDrops",
        "description": "Twitch Drop Detector", // Optional
        "executionConfig": {
            "cronExpression": "3 * * * *"
        }
    },
    /*{
        "functionLocation": "/TwitchApiFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "sendUpcomingNotifications",
        "description": "Early Warning Twitch Drop Notifier", // Optional
        "executionConfig": {
            "cronExpression": "55 * * * *"
        }
    },*/
    {
        "functionLocation": "/TwitchApiFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "markExpiredDrops",
        "description": "Marks Expired Twitch Drops in the DB", // Optional
        "executionConfig": {
            "cronExpression": "58 * * * *"
        }
    },
    /*{
        "functionLocation": "/ShopAutomationFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "refreshCustomizationShopListings",
        "description": "Shop Automation", // Optional
        "executionConfig": {
            "cronExpression": "40 * * * *"
        }
    },{
        "functionLocation": "/ExchangeAutomationFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "refreshCustomizationExchangeListings",
        "description": "Exchange Automation", // Optional
        "executionConfig": {
            "cronExpression": "45 * * * *"
        }
    },{
        "functionLocation": "/ExchangeAutomationFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "deactivateUnavailableCustomizationExchangeListings",
        "description": "Exchange Automation - Deactive Older Customization Listings", // Optional
        "executionConfig": {
            "cronExpression": "39 * * * *"
        }
    },*/{
        "functionLocation": "/ShopAutomationFunctions.jsw", // Relatively to Backend folder, started by slash
        "functionName": "deactivateUnavailableCustomizationShopListings",
        "description": "Shop Automation - Deactive Older Customization Listings", // Optional
        "executionConfig": {
            "cronExpression": "38 * * * *"
        }
    }]
}
